body {
  font-family: "Roboto", sans-serif;
  background-color: #191d28;
  margin: 0;
  padding: 0;
}

hr {
  width: 96%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: #191d28;
}

.logo {
  display: flex;
  align-items: center;
  width: 33%;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.select-width1 {
  max-width: 80px;
  margin-right: 10px;
  background-color: #2e3241;
  color: white;
  height: 35px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  border: none;
}

.drop-list button {
  max-width: 80px;
  height: 35px;
  border: none;
  background-color: #2e3241;
  border-radius: 5px;
  font-size: bold;
  font-weight: 500;
  color: white;
}

.drop-list,
.right-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.right-menu {
  color: #3dc6c1;
}

.right-menu button {
  max-width: fit-content;
  height: 30px;
  margin: 0 10px;
}

.number {
  color: #3dc6c1;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #3dc6c1;
  border-radius: 50%;
  padding: 5px;
}

.telegram-logo {
  height: 15px;
  margin-right: 10px;
}

.header-telegram-button {
  margin: 10px;
  padding: 6px 20px;
  border-radius: 10px;
  background-color: #3dc6c1;
  color: #fff !important;
}

.right-menu a {
  text-decoration: none;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #3dc6c1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2e3241;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2e3241;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #a9a9a9;
}

.hero h3 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 15px;
}

.slab {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin-top: 0px;
  width: 90%;
  padding: 0;
}

.inner-slab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.inner-slab span {
  color: #3dc6c1;
  font-size: 30px;
}

.inner-slab,
.inner-slab-bold p {
  font-size: 14px;
  margin-top: 10px;
}

.inner-slab-bold h1 {
  font-size: 3em;
  color: whitesmoke;
  margin: 10px 0 10px 0;
}

.crypto-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.crypto-table-head {
  width: 90%;
  display: flex;
  justify-content: space-around;
  color: #a9a9a9;
}

.crypto-table-head b {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
}

.crypto-table-body {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.crypto-table-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #2e3241;
  color: #a9a9a9;
  border-radius: 5px;
}

.crypto-table-row p {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.footer-left, .footer-right {
  margin: 10px 40px;
  color: #a9a9a9;
}

.sticky-btn {
  bottom: 20px;
  padding: 0 5px;
  border-radius: 10px;
  border: 1px solid #3dc6c1;
  color: #3dc6c1;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
  width: fit-content;
  height: 40px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-btn:hover {
  background-color: #3dc6c1;
  color: white;
}

/* Responsive CSS */

@media (max-width: 858px) and (min-width: 768px) {
  .header-telegram-button {
    font-size: 11px;
    width: fit-content;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .telegram-logo {
    height: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }

  .logo,
  .drop-list,
  .right-menu {
    width: 100%;
    margin: 10px 0;
  }

  .logo img {
    width: 40vh;
    margin: 0 auto;
  }

  .sticky-btn {
    display: none;
  }

  .crypto-table {
    margin: 20px 0;
    width: 100%;
  }

  .crypto-table-head {
    width: 90%;
    font-size: 2vw;
  }

  .crypto-table-head b {
    width: 50%;
    font-size: 2vw;
  }

  .crypto-table-body {
    width: 90%;
    font-size: 2vw;
    margin: 0;
  }

  .crypto-table-row {
    width: 100%;
    padding: 0;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-evenly;
  }
}


@media screen and (max-width: 769px) {
  .inner-slab-bold h1 {
    font-size: 30px;
  }

  .inner-slab,
  .inner-slab-bold p {
    font-size: 10px;
  }

  .inner-slab span {
    font-size: 20px;
  }
}


@media (max-width: 587px) {
  .slab {
    flex-wrap: wrap;
  }

  .inner-slab-bold {
    width: 100%;
  }
}
